# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Some "running Emacs" specific things
eln-cache/
elpa/
history
recentf
transient/

# generated
early-init.el
custom.el

projectile-bookmarks.eld
org-roam.db

.cache
.lsp-session*
projects
tree-sitter/
